.mainContainer {
    /* flex h-screen items-center justify-center bg-[#2F4550] font-sans relative z-1 */
    height: 100vh;
    width: 100%;
    min-width: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65)), url("../../public/bg.png");
    background-size: cover;
}

.scoreContainer {
    width: 15%;
    height: 10%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 5%;
}

@media (min-width: 769) and (max-width: 1024px) {
  .scoreContainer {
    width: 45%;
    height: 8%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768) {
  .scoreContainer {
    width: 45%;
    height: 8%;
    left: 50%;
    top: 10%;
    transform: translate(-100%, -50%);
  }
}