.scoreContainer {
    width: 25%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    text-decoration: none;
    transition: transform .2s ease-out;
}

.scoreContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #B8DBD9;
    border-radius: 8px;
    transform: translate(8px, 8px) scale(1);
    transition: 
        transform 0.45s ease-out,
        background-color 0.45s ease-out;
    z-index: -1;
}

/* hit do acerto */
.hit::after {
    background-color: #ff3b3b;
    transform: translate(8px, 8px) scale(1.05);
}

.errorHit::after {
    background-color: #2F4550;
    transform: translate(8px, 8px) scale(1.05);
}

@media (max-width: 768px) {
  .scoreContainer {
    width: 55%;
    padding: 3px 0;
  }
}