.helper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;   
    position: relative;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.helper:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #B8DBD9;
    border-radius: 8px;
    transform: translate(5px, 5px) scale(1);
    transition:
        transform 0.45s ease-out,
        background-color 0.45s ease-out;
    z-index: -1;
}

.helper:hover:after {
    transform: translate(0, 0);
}

.helper:active {
    background-color: #ffdeda;
    outline: 0;
}

.helper:hover {
    outline: 0;
}